.benefits {
  counter-reset: list_item;
}

.benefits__wrapper {
  .wrapper();

  min-height: 430px;

  background-color: @white;

  @media (min-width: @tablet-size) {
    min-height: 755px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-size) {
    min-height: 470px;
    padding-top: 45px;
  }
}

.benefits__title {
  .big-title();
}

.benefits__list {
  .list();

  @media (min-width: @tablet-size) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 600px;
    padding-top: 42px;
  }

  @media (min-width: @desktop-size) {
    min-height: 300px;
    padding-top: 27px;
  }
}

.benefits__item {
  .list();

  position: relative;

  display: block;

  min-height: 60px;
  padding-bottom: 27px;
  padding-left: 80px;

  @media (min-width: @tablet-size) {
    width: 325px;
    min-height: 240px;
    margin-bottom: 78px;
    position: relative;
    padding-left: 0px;
  }

  @media (min-width: @desktop-size) {
    width: 245px;
    margin-top: auto;
    margin-bottom: auto;

  }

  &::before {
    .content();

    top: -2px;

    width: 60px;
    height: 60px;
    z-index: 2;

    background-color: @green;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-size) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: @tablet-size) {
    counter-increment: list_item;
    content: counter(list_item);
    position: absolute;
    top: -42px;
    left: 110px;
    width: 200px;
    padding-right: 75px;
    line-height: 1;
    color: #f2f2f2;
    text-align: center;
    z-index: 1;
    font-family: "Oswald","Arial",sans-serif;
    font-size: 281px;
    font-weight: 400;
    }
  }

  &--leaf {
    .content-none();

    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    .content-none();

    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--clock {
    .content-none();

    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }

  &--dining {
    .content-none();

    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }
}

.benefits__desc {
  .desc();
  position: relative;
  z-index: 2;
  @media (min-width: @tablet-size) {
margin-top: 109px;
  width: 250px;

    line-height: 24px;
}
}
