.benefits {
  counter-reset: list_item;
}

.benefits__wrapper {
  .wrapper();

  padding-top: 17px;
  padding-bottom: 20px;

  background-color: @white;

  @media (min-width: @tablet-size) {
    padding-top: 45px;
  }

  @media (min-width: @desktop-size) {
    padding-top: 45px;
  }
}

.benefits__title {
  .big-title();
}

.benefits__list {
  .list();

  @media (min-width: @tablet-size) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 600px;
    padding-top: 42px;
  }

  @media (min-width: @desktop-size) {
    min-height: 300px;
    padding-top: 27px;
  }
}

.benefits__item {
  .list();

  position: relative;

  display: block;

  min-height: 60px;
  padding-bottom: 27px;
  padding-left: 80px;

  @media (min-width: @tablet-size) {


    width: 325px;
    min-height: 240px;
    margin-bottom: 78px;
    padding-left: 0;
  }

  @media (min-width: @desktop-size) {
    width: 247px;
    margin-top: auto;
    margin-bottom: auto;
  }

  &::before {
    .content();

    z-index: 2;
    top: -2px;

    width: 60px;
    height: 60px;

    background-color: @green;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet-size) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: @tablet-size) {
      font-family: "Oswald","Arial",sans-serif;
      font-size: 281px;
      font-weight: 400;
      line-height: 1;

      position: absolute;
      z-index: 1;
      top: -42px;
      left: 110px;

      width: 200px;
      padding-right: 75px;

      content: counter(list_item);
      counter-increment: list_item;
      text-align: center;

      color: #f2f2f2;
    }
  }

  &--leaf {
    .content-none();

    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    .content-none();

    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--clock {
    .content-none();

    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }

  &--dining {
    .content-none();

    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }
}

.benefits__desc {
  .desc();

  position: relative;
  z-index: 2;

  @media (min-width: @tablet-size) {
    line-height: 24px;

    width: 250px;
    margin-top: 109px;
  }
}
