.btn {
  display: block;
  border: 0;
  background-color: @green;
  color: @white;
  /*-----SIZE-----*/
  font-size: @font-size-btn;
  padding: 13px 0;
  text-align: center;
  .link();
  .upper-reg-text();
}
