.btn {
  display: block;
  padding: 13px 0;
  width: 100%;
  /*-----SIZE-----*/

  font-size: @font-size-btn;
  text-align: center;
  color: @white;

  background-color: @green;
  border: 0;

  .link();
  .upper-reg-text();

  &--grey {
    background-color: @grey;
    color: @black;
  }
}
