.btn {
  .upper-reg-text();
  /*-----SIZE-----*/

  font-size: @font-size-btn;
  line-height: 18px;

  display: block;
  overflow: hidden;

  width: 100%;
  padding: 12px 0;

  text-align: center;

  color: @white;
  border: 0;
  background-color: @green;

  &--grey {
    color: @black;
    background-color: @grey;
  }

  @media (min-width: @tablet-size) {
    font-size: @font-size-tbtn;
    line-height: @font-size-tbtn;

    padding: 16px 0;
  }
}
