.catalog {
  background: @white;
}

.catalog__list {
  .list();

  border-top: 1px solid @catalog-br-grey;
}

.catalog__item {
  .list();

  padding: 24px 20px;

  border-bottom: 1px solid @catalog-br-grey;
}

.catalog__show-more {
  padding: 24px 20px;;

  border-bottom: 1px solid @catalog-br-grey;
}

.catalog__wrapper {
  .mobile-wrapper();

  padding: 0;
}
