.categories__wrapper {
  .wrapper();
}

.categories__list {
  .list();

  & :last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-size) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-size) {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    min-height: inherit;
    padding: 28px 0;
    padding-top: 85px;
  }
}

.categories__item {
  .list();

  margin-bottom: 20px;

  @media (min-width: @tablet-size) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-size) {
    margin-bottom: 0;
  }
}
