.categories {

  //background: @white;
}

.categories__wrapper {
  .wrapper();
  min-height: 570px;

  @media (min-width: @tablet-size) {
      min-height: 800px;
  }

  @media (min-width: @desktop-size) {
      min-height: 430px;
  }
}
.categories__title {
  .upper-reg-text();

  font-size: @font-size-h2;

  margin: 0;
  padding: 17px 0 37px 70px;
}

.categories__list {
  .list();
}

.categories__item {
  .list();

  position: relative;

  background: @grey;

  &::before {
    .content();

    top: 22px;
    left: 20px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background: @green;
  }

  &--slim {
    .content-none();

    &::after {
      .content();

      top: 22px;
      left: 20px;

      width: 50px;
      height: 50px;

      background: url("../img/icon-cat-slim.svg") no-repeat;
      background-position: 50%;
    }
  }

  &--pro {
    .content-none();

    &::after {
      .content();

      top: 22px;
      left: 10px;

      width: 70px;
      height: 50px;

      background: url("../img/icon-cat-pro.svg") no-repeat;
      background-position: 50%;
    }
  }
}

.categories__desc {
  .desc();
}

.categories__link {
  .rare-title();
}

.categories__control {
  .content-none();
}
