.categories {
  padding: 20px;

  background: @white;
}

.categories__title {
  margin: 0;
  padding: 17px 0 37px 70px;

  font-size: @font-size-h2;

  .upper-reg-text();
}

.categories__list {
  .list();
}

.categories__item {
  position: relative;

  padding: 22px 20px;

  background: @grey;

  .list();

  &::before {
    top: 22px;
    left: 20px;

    width: 50px;
    height: 50px;

    background: @green;
    border-radius: 50%;

    .content();
  }

  &--slim::after {
    top: 22px;
    left: 20px;

    width: 50px;
    height: 50px;

    background: url('../../img/icon-cat-slim.svg') no-repeat;
    background-position: 50%;

    .content();
  }

  &--pro::after {
    top: 22px;
    left: 10px;

    width: 70px;
    height: 50px;

    background: url('../../img/icon-cat-pro.svg') no-repeat;
    background-position: 50%;

    .content();
  }
}

.categories__desc {
  font-size: @font-size-btn;
  line-height: 18px;
  font-family: @font-family-arial;
  color: @text-grey;
}

.categories__link {
  font-size: 16px;
  color: @black;

  .link();
  .upper-reg-text();
}

.categories__control {
  .content-none();
}
