.category {
  position: relative;

  display: block;

  width: 100%;
  padding: 22px 20px;

  background: @grey;

  @media (min-width: @tablet-size) {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-height: 372px;
    padding: 60px 56px;
    padding-top: 74px;
  }

  @media (min-width: @desktop-size) {
    display: flex;

    width: 570px;
    padding: 60px 52px;
    //flex-direction: column;
  }

  &::before {
    .content();

    top: 25px;
    left: 22px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background: @green;

    @media (min-width: @tablet-size) {
      top: 92px;
      right: 60px;
      left: auto;

      width: 200px;
      height: 200px;
    }
    @media (min-width: @desktop-size) {

        top: 49px;
    left: 52px;

      width: 100px;
      height: 100px;

}}

  &--slim {
    .content-none();

    &::after {
      .content();

      top: 22px;
      left: 22px;

      width: 50px;
      height: 50px;

      background: url("../img/cat-slim.svg") no-repeat;
      background-position: 50%;

      @media (min-width: @tablet-size) {
        top: 80px;
        right: 60px;
        left: auto;

        width: 200px;
        height: 195px;
      }
          @media (min-width: @desktop-size) {

        top: 40px;
        right: auto;


        width: 100px;
    height: 100px;
  }

  }
}

  &--pro {
    .content-none();

    @media (min-width: @tablet-size) {
      .category__desc {
        width: 340px;
      }
    }

    &::after {
      .content();

      top: 24px;
      left: 12px;

      width: 70px;
      height: 50px;

      background: url("../img/cat-pro.svg") no-repeat;
      background-position: 50%;

      @media (min-width: @tablet-size) {
        top: 90px;
        right: 25px;
        left: auto;

        width: 270px;
        height: 200px;;
      }
          @media (min-width: @desktop-size) {

        top: 47px;
        right: auto;
            left: 37px;


           width: 130px;
    height: 100px;
  }
    }
  }
}

.category__title {
  .upper-reg-text();

  font-size: @font-size-h2;

  margin: 0;
  //margin-left: 12px;
  margin-left: 71px;
  //padding: 17px 0 37px 70px;
  padding-top: 14px;
  //text-align: center;
  padding-bottom: 33px;

  @media (min-width: @tablet-size) {
    font-size: 36px;

    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 22px;
  }
@media (min-width: @desktop-size) {
      margin-left: 165px;
    padding-top: 15px;

  }
}

.category__desc {
  .desc();

  line-height: 19px;

  padding-bottom: 20px;

  border-bottom: 1px solid @dark-grey;

  @media (min-width: @tablet-size) {
    line-height: 24px;

    width: 372px;
    padding-bottom: 80px;

    border: 0;
  }
  @media (min-width: @desktop-size) {
    width: auto;
      padding-top: 50px;
      padding-bottom: 30px;
  }
}

.category__link {
  .rare-title();

  line-height: 16px;

  display: block;

  padding-top: 18px;
  padding-bottom: 1px;

  @media (min-width: @tablet-size) {
    //padding-top: 37px;
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    bottom: 62px;
  }
}

.category__control {
  .content-none();
}
