.contacts {
  background-color: @white;

  &--grey {
    background-color: @grey;
  }
}

.contacts__title {
  font-size: @font-size-16;
  color: @black;

  .upper-reg-text();
}

.contacts__text {
  .desc()
}
