.contacts {
  background-color: @white;
}

.contacts__title {
  font-size: @font-size-16;
  color: @black;

  .upper-reg-text();
}
.contacts__text {
  font-size: @font-size-btn;
  font-family: @font-family-arial;
  color: @text-grey;
}
