.example {
  .content-none();
}

.example__wrapper {
  //background-color: @grey;
  .wrapper();
  min-height: 705px;

  @media (min-width: @tablet-size) {
      min-height: 1080px;
  }

  @media (min-width: @desktop-size) {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
    //background-image:
    //linear-gradient( @white 150px , @grey 150px, @grey);
      min-height: 610px;
    }
}

.example__title {
  .big-title();

  padding-top: 15px;


  @media (min-width: @tablet-size) {
      padding-top: 43px;
  }

  @media (min-width: @desktop-size) {
    display: block;
      padding-top: 15px;
      min-height: 150px;
      align-self:stretch;
    }
}

.example__desc {
  .desc();
 // background-color: @green;
}

.example__stats {
  font-size: 0;
  //background-color: @green;
  position: relative;

  display: inline-block;

  width: 125px;
  height: 55px;
  margin-bottom: 35px;

  border: 1px solid @border-grey;
  border-radius: 3px;
}

.example__stats-title {
  .middle-upper-title();

  line-height: 55px;

  display: block;

  text-align: center;
  vertical-align: middle;
}

.example__stats-caption {
  .p-text();

  position: absolute;
  top: 50px;
  left: 50%;

  width: 85px;
  padding: 0 15px;

  transform: translateX(-50%);
  text-align: center;
  text-transform: lowercase;

  //background-color: @grey;
}

.example__costs {
  .upper-reg-text();

  font-size: @font-size-btn;
  line-height: 20px;

  text-align: center;

  color: @black;
}

.example_compare {
  display: none;
}

.example__img {
  display: block;
  //background-color: @green;
  margin: 0 auto;
  padding-top: 44px;
}

.example__img-caption {
  .rare-title();
}
