.extra {
  background-color: @white;
  position: relative;



  @media (min-width: @tablet-size) {
    &::before {
      top: 49px;
      left: 0;
width: 100%;

    }
  }

  @media (min-width: @desktop-size) {

    &::before {
      top: 56px;


    }

  }
}

.extra__wrapper {
  .wrapper();

  position: relative;



  &::before {
    .content();

    z-index: 0;
    top: 40px;
    left: 20px;
    right:-20px;

    width: calc(~"100% - 20px");
    height: 3px;

    background-color: @green;
  }

  @media (min-width: @desktop-size) {
    display: flex;
    flex-wrap: wrap;


    padding-bottom: 88px;

  }
}

.extra__title {
  .middle-title();

  position: relative;
  z-index: 1;

  display: inline-block;

  padding-top: 31px;
  padding-right: 20px;
  padding-bottom: 32px;

  background-color: @white;

  @media (min-width: @tablet-size) {
    line-height: 87px;

    padding: 0 37px;
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-size) {
    margin: 0 -40px;
    padding: 0 38px;
    padding-top: 12px;
    padding-bottom: 54px;
  }
}

.extra__list {
  .list();

  @media (min-width: @desktop-size) {
    width: 895px;
  }
}
