.extra-product {
  .list();
  padding-top: 12px;
  padding-bottom: 17px;

  border-top: 1px solid @border-grey;

  @media (min-width: @tablet-size) {
    display: flex;
    flex-wrap: wrap;

    padding: 27px 38px;

    border: 1px solid @border-grey;
    border-bottom: 0;
  }

  &:last-child {
    border-bottom: 1px solid @border-grey;
  }

  @media (min-width: @desktop-size) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 0;
    padding-bottom: 15px;

    border-right: 0;
    border-left: 0;
  }
}

.extra-product__title {
  .rare-title();

  font-size: @font-size-h3;

  @media (min-width: @tablet-size) {
    font-size: @font-size-tbtn;

    width: 60%;
  }

  @media (min-width: @desktop-size) {
    width: 290px;
  }
}

.extra-product__link {
  color: @extra-black;
}

.extra-product__info tbody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: @tablet-size) {
    align-items: flex-end;

    padding-top: 4px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-size) {
    align-items: stretch;

    padding-bottom: 0;
  }
}

.extra-product__info {
  width: 100%;
  margin: 0;
  padding: 0;

  border-collapse: collapse;

  @media (min-width: @tablet-size) {
    width: 40%;
  }

  @media (min-width: @desktop-size) {
    width: 285px;
  }
}

.extra-product__info  tr {
  display: flex;
  justify-content: space-between;
}

.extra-product__info td {
  line-height: 16px;
  padding: 0;
  .desc();
}

.extra-product__count {
  @media (min-width: @tablet-size) {
    text-align: right;
  }
}

.extra-product__price {
  text-align: right;

  @media (min-width: @tablet-size) {
    width: 95px;
  }
  @media (min-width: @desktop-size) {
    width: 45px;
    text-align: left;
  }
}

.extra-product__btn {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;

  @media (min-width: @desktop-size) {
    width: 245px;
  }
}
