.extra {
  //background-color: @white;
}

.extra__wrapper {
  .wrapper();

  background-color: @white;

  @media (min-width: @desktop-size) {
    display: flex;

    padding-bottom: 85px;
  }
}

.extra__title {
  .middle-title();
  .wrapper();

  line-height: 87px;

  display: block;

  @media (min-width: @tablet-size) {
    padding-bottom: 56px;
  }

  @media (min-width: @desktop-size) {
    padding: 30px 50px;
  }
}

.extra__list {
  .list();

  @media (min-width: @desktop-size) {
    width: 895px;
  }
}

.extra__item {
  .list();

  //min-height: 130px;
}

.extra__share {
  //min-height: 360px;

  @media (min-width: @tablet-size) {
    min-height: 340px;
  }

  @media (min-width: @desktop-size) {
    min-width: 245px;
    min-height: 200px;
  }
}
