.navigation {
  position: relative;
}

.navigation__toggle {
  font-size: 0;

  position: absolute;
  top: -30px;
  right: 0;

  display: block;

  width: 20px;
  height: 14px;
  padding: 0;

  cursor: pointer;

  border: none;
  background: url("../img/icon-close.svg") no-repeat;

  &--close {
    background: url("../img/icon-close.svg") no-repeat;
  }
}

.navigation__wrapper {
  margin: 0 -20px;
  padding: 0;
}

.navigation__list {
  .list();
}
