.navigation {
  display: none;

  background: @white;

  &--opened {
    display: block;
  }

  @media (min-width: @tablet-size) {
    display: block;

    margin-left: auto;
    //min-height: 200px;
  }

  @media (min-width: @desktop-size) {
    min-width: 570px;

    background: @green;
  }
}

.navigation__wrapper {
  margin: 0 -20px;
  padding: 0;

  @media (min-width: @tablet-size) {
    display: block;

    margin: 0;
  }
}

/*.navigation__list {

}
*/
