.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.navigation__list {

}

.navigation__toggle {
  position: absolute;
  top:-30px;
  right: 0;
  display: block;
  width: 20px;
  height: 14px;
  padding: 0;
  border: none;
  font-size: 0;
  cursor: pointer;
  background: url("../../img/icon-close.svg") no-repeat;

  &--close {
    background: url("../../img/icon-close.svg") no-repeat;
  }
}
