.page-header {
  width: 100%;

  //background-color: @white;
}

.page-header__wrapper {
  .wrapper();
}

@media (min-width: @tablet-size) {
  .page-header__wrapper {
    display: flex;

    min-height: 100px;
  }
}

@media (min-width: @desktop-size) {
  .page-header__wrapper {
    display: flex;

    min-height: 120px;
  }
}

.page-header__index-link {
  display: block;

  min-width: 100px;
  min-height: 66px;

  background: @grey;
}

@media (min-width: @tablet-size) {
  .page-header__index-link {
    min-width: 195px;
    min-height: 100px;
  }
}

@media (min-width: @desktop-size) {
  .page-header__index-link {
    min-width: 205px;
    min-height: 120px;
  }
}

.page-header__ico {
  padding-top: 11px;
}

.page-header__logo {
  .content-none();
}

.page-header__nav {
  min-width: 100px;
  min-height: 200px;

  background: @grey;
}

@media (min-width: @tablet-size) {
  .page-header__nav {
    min-width: 465px;
    min-height: 100px;
    margin-left: auto;

    background: @grey;
  }
}

@media (min-width: @desktop-size) {
  .page-header__nav {
    min-width: 570px;
    min-height: 120px;
    margin-left: auto;

    background: @green;
  }
}
