.page-main {
  width: 100%;
}

.page-main__title {
  .big-title();

  line-height: 55px;

  display: block;

  margin: 0 -20px;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 33px;

  border-top: 1px solid @nav-br-grey;

  @media (min-width: @tablet-size) {
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 64px;

    border: 0;
  }

  @media (min-width: @desktop-size) {
    line-height: 60px;

    padding-top: 66px;
  }
}

.page-main__caption {
  .desc-black();

  font-family: @font-family;
  font-size: @font-size-btn;
  font-weight: 400;
  line-height: 17px;

  padding-bottom: 10px;

  text-transform: uppercase;

  @media (min-width: @tablet-size) {
    font-size: @font-size-list;
    line-height: 30px;

    display: block;

    width: 410px;
    margin-top: -6px;
    padding: 0 40px;
  }

  @media (min-width: @desktop-size) {
    margin-left: -40px;
  }
}

.page-main__wrapper {
  .wrapper();
}
