.page-footer {
  width: 100%;
  //background-color: @grey;
  min-height: 240px;

  @media (min-width: @tablet-size) {
      min-height: 150px;

  }
}

.page-footer__wrapper {
  .wrapper();

  padding-bottom: 22px;
  min-height: 240px;

  @media (min-width: @tablet-size) {
      min-height: 150px;

  }
}

.page-footer__index-link {
  .content-none();
}

.page-footer__logo {
  .content-none();
}

.page-footer__social {
  .content-none();
}

.page-footer__copyright {
  .content-none();
}
