.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: @white;
}
.page-header__index-link {

}

.page-header__ico {

}

.page-header__logo {

}

.page-header__nav{

}
