.page-header {
  position: relative;
  z-index: 2;

  width: 100%;
}

.page-header__wrapper {
  .wrapper();

  position: relative;

  @media (min-width: @tablet-size) {
    display: flex;
  }
}

.page-header__index-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  min-height: 65px;

  background: @white;

  @media (min-width: @tablet-size) {
    width: 180px;
    height: 110px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-size) {
    width: 205px;
    height: 120px;
    padding-top: 47px;
  }
}

.page-header__ico {
  margin-top: -7px;

  @media (min-width: @tablet-size) {
    width: 173px;
    height: 58px;
    margin: 0;
  }

  @media (min-width: @desktop-size) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo {
  margin-right: auto;
  margin-left: 56px;

  @media (min-width: @tablet-size) {
    display: none;
  }
}
