.page-header {
  position: relative;

  width: 100%;

  background-color: @white;
}

.page-header__wrapper {
  .wrapper();

  @media (min-width: @tablet-size) {
    display: flex;

    min-height: 100px;
  }

  @media (min-width: @desktop-size) {
    position: absolute;
    left: 50%;

    min-height: 120px;

    transform: translateX(-50%);
  }
}

.page-header__index-link {
  //display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //width: 100%;

  min-height: 65px;

  background: @white;

  @media (min-width: @tablet-size) {
    min-width: 180px;
    min-height: 100px;
  }

  @media (min-width: @desktop-size) {
    min-width: 205px;
    min-height: 120px;
  }
}

.page-header__ico {
  margin-top: -7px;

  @media (min-width: @tablet-size) {
    display: none;
  }
}

.page-header__logo {
  margin-left: -13px;

  @media (min-width: @tablet-size) {
    display: none;
  }
}

.page-header__toggle {
  font-size: 0;

  display: block;

  width: 24px;
  height: 18px;
  margin-left: -4px;
  padding: 0;

  cursor: pointer;

  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat;

  &--close {
    width: 20px;
    height: 18px;
    margin: 0;

    background: url("../img/icon-close.svg") no-repeat;
  }

  @media (min-width: @tablet-size) {
    display: none;
  }
}

.page-header--nojs .page-header__toggle {
  display: none;
}

.page-header--nojs .navigation {
  display: block;
}
