.page-header {
  width: 100%;

  //background-color: @white;
}

.page-header__wrapper {
  .wrapper();
}

@media (min-width: @tablet-size) {
  .page-header__wrapper {
    display: flex;
    min-height: 100px;
  }
}

@media (min-width: @desktop-size) {
  .page-header__wrapper {
    min-height: 120px;
    display: flex;
  }
}

.page-header__index-link {
  display: block;

  min-height: 66px;
  background:@grey;
  min-width: 100px;
}

@media (min-width: @tablet-size) {
  .page-header__index-link {
    min-height: 100px;
    min-width: 195px;
  }
}

@media (min-width: @desktop-size) {
  .page-header__index-link {
    min-height: 120px;
    min-width: 205px;
  }
}
.page-header__ico {
  padding-top:11px;
}

.page-header__logo {
  .content-none();
}

.page-header__nav {
  min-height: 200px;
  background: @grey;
  min-width: 100px;
}

@media (min-width: @tablet-size) {
  .page-header__nav {
    margin-left: auto;
    min-height: 100px;

    background: @grey;
    min-width: 465px;
  }
}

@media (min-width: @desktop-size) {
  .page-header__nav {
    margin-left: auto;

    background: @green;
    min-height: 120px;
    min-width: 570px;
  }
}
