.product {
  border-bottom: 1px solid @catalog-br-grey;
  background-color: @white;
}

.product__img {
  width: 140px;
  height: 144px;
}

.product__title {
  .upper-reg-text();

  font-size: @font-size-16;
}

.product__link {
  .link();

  color: @black;
}

.product__info {
  .p-text();
}
