.product {
  //background-color: @white;
  padding: 24px 20px;

  border-bottom: 1px solid @catalog-br-grey;

  @media (min-width: @tablet-size) {
    flex-basis: 325px;

    margin-bottom: 35px;
    padding: 40px 38px;
    padding-top: 145px;

    border: 0;
    background-image: linear-gradient(@white 105px, @grey 105px, @grey);
  }

  @media (min-width: @desktop-size) {
    flex-basis: 245px;
  }
}

.product__img {
  display: none;

  width: 140px;
  height: 144px;
}

.product__title {
  .rare-title();
}

.product__link {
  color: @black;
}

.product__info {
  .p-text();
}
