.product {
  background-color: @white;
  border-bottom: 1px solid @catalog-br-grey;
}

.product__img {
  width: 140px;
  height: 144px;
}

.product__title {
  font-size: @font-size-16;

  .upper-reg-text();
}

.product__link {
  color: @black;

  .link();
}

.product__info {
  .p-text();
}
