.program-promo {
  background-color: @white;
  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 168px, center 0;
}

.program-promo__wrapper {
  .mobile-wrapper();
}

.program-promo__title {
  .lower-text();

  font-size: @font-size-big;

  margin: 0;
  padding-top: 29px;

  text-align: center;

  color: @white;
}

.program-promo__slogan {
  .upper-reg-text();

  font-size: @font-size-btn;

  text-align: center;

  color: @white;
}

.program-promo__btn {
  margin-top: 300px;
}
