.program-promo {
  min-height: 500px;
}

.program-promo__wrapper {
  .wrapper();

  position: relative;

  min-height: 500px;

  background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 168px, center 0;

  @media (min-width: @tablet-size) {
    min-height: 850px;

    background: none;
  }

  @media (min-width: @desktop-size) {
    z-index: -2;
    top: -120px;

    min-height: 810px;
    margin-bottom: -120px;
  }

  @media (min-width: @tablet-size) {
    background-color: @white;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 168px;
  }

  @media (min-width: @desktop-size) {
    min-width: 1440px;
    padding-left: 110px;

    background-color: @white;
    background-image: url("../img/index-can-mobile@1x.png"),
      url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center 168px, 100% 50%;
    background-size: 400px, 680px 100%;
  }
}

.program-promo__title {
  .lower-text();

  font-size: @font-size-big;
  line-height: @font-size-big;

  margin: 0;
  padding-top: 26px;

  text-align: center;

  color: @white;

  @media (min-width: @tablet-size) {
    text-align: left;

    color: @black;
  }
}

.program-promo__slogan {
  .upper-reg-text();

  font-size: @font-size-btn;

  padding-top: 23px;

  text-align: center;

  color: @white;

  @media (min-width: @tablet-size) {
    text-align: left;

    color: @black;
  }
}

.program-promo__btn {
  position: absolute;
  bottom: 22px;

  width: 280px;

  @media (min-width: @tablet-size) {
    position: relative;
  }
}
