@media(max-width: @tablet-size - 1px) {
  .program-promo {
    //background-color: @white;
    background-image: url("../img/index-can-mobile@1x.png"),
    url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center 168px, center 0;
  }
}

.program-promo__wrapper {
  .wrapper();

  position: relative;

  min-height: 500px;

  @media (min-width: @tablet-size) {
    min-height: 850px;
  }

  @media (min-width: @desktop-size) {
    min-height: 630px;
  }
}

.program-promo__title {
  .lower-text();

  font-size: @font-size-big;
  line-height: @font-size-big;

  margin: 0;
  padding-top: 26px;

  text-align: center;

  color: @white;
}

.program-promo__slogan {
  .upper-reg-text();

  font-size: @font-size-btn;

  padding-top: 23px;

  text-align: center;

  color: @white;
}

.program-promo__btn {
  position: absolute;
  bottom: 22px;

  width: 280px;
}
