.share {
  padding-top: 40px;
  padding-bottom: 35px;

  @media (min-width: @tablet-size) {
    min-height: 340px;
    padding-top: 70px;
    padding-bottom: 74px;
  }

  @media (min-width: @desktop-size) {
    align-self: stretch;

    min-width: 245px;
    min-height: 200px;
    margin-left: auto;
    padding: 0;
  }
}

.share__wrapper {
  min-height: 290px;
  padding-top: 65px;

  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (min-width: @tablet-size) {
    display: flex;
    justify-content: space-between;

    width: 708px;
    min-width: auto;
    min-height: 200px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  @media (min-width: @desktop-size) {
    display: block;

    width: 245px;
    min-width: auto;
    min-height: 290px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  @media @retina {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;

    @media (min-width: @tablet-size) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }

    @media (min-width: @desktop-size) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px 289px;
    }
  }
}

.share__desc {
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 18px;

  width: 153px;
  margin: 0 auto;
  padding-top: 64px;

  text-align: center;

  color: @white;

  @media (min-width: @tablet-size) and(max-width: @desktop-size) {
    margin-top: 8px;
    margin-right: 132px;
    padding-top: 0;

    text-align: left;
  }
}

.share__wrapper img {
  display: block;

  width: 60px;
  height: 60px;
  margin: 0 auto;

  @media (min-width: @tablet-size) and(max-width: @desktop-size) {
    margin: 0 90px;
  }
}
