.show-more {
  .content-none();
}

.show-more__btn {
  width: 30px;
  height: 30px;

  background-color: @white;
  background-image: url('../../img/icon-plus-mobile.svg');
  border: 0;
  opacity: .2;
}

.show-more__title {
  font-size: @font-size-16;
  color: @black;

  .upper-reg-text();
}

.show-more__subtitle {
  .p-text();
}
