.show-more {
  .content-none();
  padding: 24px 20px;
  border-bottom: 1px solid @catalog-br-grey;


  @media (min-width: @tablet-size) {
    border: 1px solid @catalog-br-grey;
    flex-basis: 325px;
    margin-bottom: 35px;
    margin-top: 105px;
    padding: 40px 38px;
    min-height: 435px;
  }

  @media (min-width: @desktop-size) {
    flex-basis: 245px;
  }

}

.show-more__btn {
  width: 30px;
  height: 30px;

  opacity: 0.2;
  border: 0;
  background-color: @white;
  background-image: url("../img/icon-plus-mobile.svg");
}

.show-more__title {
  .rare-title();

  color: @black;
}

.show-more__subtitle {
  .p-text();


}
