.site-list {
  .list();
}

.site-list__item {
  color:@black;
  background-color: @white;

  .list();
  &--current {

  }
}

.site-list__link{

  display: block;
  text-align: center;
  color:@black;

  font-size: 20px;
  line-height: 20px;

  .upper-text();

  .link();

}
