.site-list {
  .list();
}

.site-list__item {
  color: @black;

  background-color: @white;

  .list();

  &--current {
    background-color: @white;
  }
}

.site-list__link {
  display: block;

  font-size: @font-size-site-list;
  line-height: 20px;
  text-align: center;
  color: @black;

  .upper-text();
  .link();
}
