.site-list {
  .list();
}

.site-list__item {
  .list();

  color: @black;
  background-color: @white;

  &--current {
    background-color: @white;
  }
}

.site-list__link {
  .upper-text();
  .link();

  font-size: @font-size-site-list;
  line-height: 20px;

  display: block;

  text-align: center;

  color: @black;
}
