html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body >*>*>*>* {
  display: none;
}




body >* {
  outline: 1px solid green; }

body >* >* {
  outline: 1px solid red; }

body >* >* >* {
  outline: 1px solid yellow; }

body {
  width: 100%;
  /*-----EXTRA----*/
  margin: 0 auto;

  color: @black;
  background: @grey url("../img/mobile.png") no-repeat 50% 0;
  background-size: 320px auto;
 // min-height: 3200px;
}

@media (min-width: @tablet-size) {
  body {
    background:@grey url("../img/tablet.png") no-repeat 50% 0;
    background-size: 768px auto;
  }
}


@media (min-width: @desktop-size) {
  body {
    background:  @grey url("../img/desktop.png") no-repeat 50% 0;
    background-size: 1440px auto;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  width: 1px;
  height: 1px;
  padding: 0;

  border: 0;
}
