.link() {
  text-decoration: none;
}
.heading () {
  margin: 0;

}
.list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.upper-text () {
  text-transform: uppercase;
  font-family: @font-family-medium;
  font-weight: 400;
}

.lower-text () {
  font-family: @font-family-regular;
  font-weight: 400;
}

.upper-reg-text () {
  text-transform: uppercase;
  font-family: @font-family-regular;
  font-weight: 400;
}

.content-none() {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
