.link() {
  text-decoration: none;
}

.heading() {
  margin: 0;
}

.list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.upper-text () {
  text-transform: uppercase;
  font-family: @font-family-medium;
  font-weight: 400;
  color: @black;
}

.lower-text () {
  font-family: @font-family-regular;
  font-weight: 400;
}

.upper-reg-text () {
  margin: 0;
  text-transform: uppercase;
  font-family: @font-family-regular;
  font-weight: 400;
}

.rare-title() {
  .upper-reg-text();
  .heading();
  font-size: @font-size-h3;
  color: @black;
  line-height: 16px;
}

.middle-title() {
  .lower-text();
  .heading();
  font-size: @font-size-h2;
  color: @black;
  line-height: 24px;
}

.big-title() {
  .lower-text();
  .heading();
  line-height: 60px;
  color: @black;
  font-size: @font-size-big;
  padding-bottom: 28px;
}

.p-text () {
  .heading();
  font-size: @font-size-small;
  color: @text-grey;
  font-family: @font-family-arial;
}

.desc-black() {
  .heading();
  font-size: @font-size-btn;
  color: @text-grey;
  font-family: @font-family-arial;
}

.desc() {
  .heading();
  color: @text-grey;
  line-height: 18px;
  font-size: @font-size-btn;
  font-family: @font-family-arial;
}

.content-none() {
  content: "";
}

.content() {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
