@white: #ffffff;
@black:#000000;
@green:#68b738;
@grey:#f2f2f2;
@dark-grey:#d9d9d9;



@font-family-reg: "Oswald Regular", Arial, sans-serif;

@font-family-med: "Oswald Regular", Arial, sans-serif;

/*-----SIZE-----*/
@body-width: 320px;
@font-size-btn: 14px;
@font-size-20: 20px;
@font-size-h1: 36px;
@btn-padding:15px 70px;
