@white: #ffffff;

@black:#111111;

@extra-black:#222222;

@green:#68b738;

@grey:#f2f2f2;

@dark-grey:#d9d9d9;

@text-grey:#444444;

@border-grey:#cdcdcd;

@catalog-br-grey:#ededed;

@nav-br-grey:#e6e6e6;

@menu-hvr:#707070;

@menu-down:#b7b7b7;

@form-br-grey:#e6e6e6;

//@font-family-regular: "Oswald Regular", arial, sans-serif;

//@font-family-medium: "Oswald Medium", arial, sans-serif;

@font-family: "Oswald", arial, sans-serif;

@font-family-arial: arial, sans-serif;

/*-----SIZE-----*/
@body-width: 320px;

@font-size-tbig: 60px;

@font-size-big: 36px;

@font-size-tbtn:20px;

@font-size-h2: 24px;

//@font-size-16: 16px;

@font-size-h3: 16px;

@font-size-btn: 14px;

@font-size-site-list: 20px;

@font-size-list: 20px;

@font-size-tlist: 18px;

@font-size-small: 12px;

@btn-padding:15px 70px;

@mobile-size:320px;

@mobile-size-only: 768px;

@desktop-size:1300px;

@tablet-size: 768px;
